---
layout: default
---
<!-- Sidebar -->
<div class="col-md-2 col-md-offset-1 sidebar text-right">
  <div class="sidebar-block">
    <h3>Recent Posts</h3>
    <ul>
      {% for post in site.posts limit: 10 %}
      {% assign author = site.data.authors[post.author] %}
      <li class="recent-post">
        <span class="recent-post-title"><a href="{{ post.url }}">{{ post.title }}</a> | </span>
        <span class="recent-post-author">by <a href="/{{ post.author }}">{{ author.name }}</a></span>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="sidebar-block">

    <h3>Tags</h3>
    <ul>
        {% for tag in site.tags %}
            <li><a href="/tags/{{ tag[0] }}">{{ tag[0] }}</a></li>
        {% endfor %}
    </ul>

    <h3>Authors</h3>
    <ul class="author-list">
      {% assign authors = (site.data.authors | sort) %}
      {% for author in authors %}
      <li><a href="/{{ author[0] }}">{{ author[1].name }}</a></li>
      {% endfor %}
    </ul>

  </div>
  
</div>

<!-- Content -->
<div class="col-md-8 content">
  <ul class="post-list">
    {% for post in site.posts %}
    {% if post.tags contains "frontpage" %}
    <li>
      {% include post-list-entry.html post='post' %}
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
