---
layout: default
---
<div class="col-md-2 col-md-offset-1 sidebar text-right">
  <h3>Recent Posts</h3>
  <h3>Authors</h3>
  <ul class="author-list">
    {% for author in site.data.authors %}
    <li>{{ author[1].name }}</li>
    {% endfor %}
  </ul>
</div>
<div class="col-md-8">
  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      <div class="row">
        <div class="col-md-2">
          <div class="post-meta-block">
            <span class="day-block">{{ post.date | date: "%-d" }}</span>
            <span class="month-block">{{ post.date | date: "%B" }}</span>
            
          </div>
        </div>
        <div class="col-md-10">
          <h1><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
          <div class="author-block">by {{ site.data.authors[post.author].name }}</div>
          <div class="post-excerpt">
            {{ post.excerpt }}
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
