<div class="row">
  <div class="col-md-2">
    <div class="post-meta-block">
      <span class="day-block">{{ post.date | date: "%-d" }}</span>
      <span class="month-block">{{ post.date | date: "%B" }}</span>
    </div>
  </div>
  <div class="col-md-10">
    <h1><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
    <div class="author-block">by <a href="/{{ post.author }}">{{ site.data.authors[post.author].name }}</a></div>
    <div class="post-excerpt">
      {{ post.excerpt }}
    </div>
  </div>
</div>