.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  font-size: 24px;
}

.content-row {
  background: #fff;
}

#footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background: $brand-primary;
  color: #fff;
}

ul.social-media-list {
  list-style-type: none;
  
  li {
    color: #fff;
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
  }
}

.sidebar {
  background: $brand-info;
  color: #fff;
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: bold;
  }
  a { 
    color: #fff;
  }
  ul {
    list-style-type: none;
  }
  .sidebar-block {
    margin-bottom: 36px;
  }
  .recent-post {
    margin-bottom: 14px;
  }
  .recent-post-title {
    display: block;
    font-size: $font-size-large;
    line-height: 0.8;
  }
  .recent-post-author {
    font-size: $font-size-small;
  }
}

.content {
  background: #fff;
  a {
    color: $text-color;
  }
}

.author-list {
  list-style-type: none;
}

.post-list {
  padding-left: 0;
  list-style-type: none;
}

.post-link {
  font-weight: bold;
}

.post-title {
  font-weight: bold;
}

.post-meta {
  a {
    color: $brand-primary;
  }
}

.post {
  font-size: $font-size-large;
  a {
    color: $brand-info;
  }
}

.post-meta-block {
  margin-top: 21px;
  color: $brand-info;
  
  .day-block {
    display: block;
    font-size: 39px;
    text-align: center;
    font-weight: bold;
    line-height: 1.1;
  }
  
  .month-block {
    display: block;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.5;
  }
}

.author-block {
    padding-bottom: 12px;
}

.post-excerpt {
  font-size: $font-size-large;
}

.post {
  padding-bottom: 21px;
}

.author-info {
  background: $brand-info;
  min-height: 200px;
  color: #fff;
  padding-top: 21px;
  a {
    color: #fff;
  }
}

img.author-avatar {
  width: 128px;
  height: 128px;
  border-radius: 64px;
  border: 4px solid #fff;
  &.author-footer {
    float: right;
  }
}

.author-avatar-sidebar-block {
  margin-top: 21px;
  margin-bottom: 21px;
}

.author-avatar-sidebar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.author-name {
  text-transform: uppercase;
  font-weight: bold;
}

.author-sidebar-name {
  text-align: center;
}

.author-sidebar-contact-list {
  padding-left: 110px;
}

.author-contact-list {
  list-style-type: none;
  padding-left: 21px;
  a {
    color: #fff;
  }
}

.author-contact-icon {
  padding-top: 3px;
  svg {
    width: 16px;
    height: 16px;
  }
}

.author-contact-text {
  position: relative;
  top: -4px;
  padding-left: 4px;
}